# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/projectSettingsUpdater.xml
/modules.xml
/.idea.ChroDoom.iml
/contentModel.xml
# Datasource local storage ignored files
/../../../../../../../:\Documents\GitHub\ChroDoom\.idea\.idea.ChroDoom.dir\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
